<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 링크별 권한 -->
	<security:http use-expressions="true">
		<security:headers>
			<security:frame-options disabled="true"/>
		</security:headers>
	     <security:csrf />
		<security:intercept-url pattern="/**" access="permitAll"/>
		<security:form-login login-processing-url="/loginOK" login-page="/login" default-target-url="/" authentication-failure-url="/login"
					username-parameter="email" password-parameter="pwd" />
		<security:logout logout-url="/logout" logout-success-url="/" />
		
		
	</security:http>

	<!-- 비밀번호 암호화 -->
	<bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

	<!-- 로그인 시 비밀번호 암호화 -->
	<security:authentication-manager>
        <security:authentication-provider
            user-service-ref="customDataSource">
            <security:password-encoder ref="bcryptPasswordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>
    
    <!-- 로그인 쿼리 -->
    <bean id="customDataSource" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <property name="dataSource" ref="dataSource" />
        <property name="usersByUsernameQuery">
            <value>
                SELECT email, pwd, enabled FROM member
                WHERE email=?
            </value>
        </property>
        <property name="authoritiesByUsernameQuery">
            <value>
                SELECT email, auth FROM auth
                WHERE email=?
            </value>
        </property>
    </bean>

</beans>
