<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bitcamp.Mapper.AdminPageMapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    
    	<select id="totalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(no)
  	  		from member
  		<where>
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='email'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and email like CONCAT('%', #{searchtxt}, '%')
						
					</when>
					<when test="search=='nickname'">
						and nickname like CONCAT('%', #{searchtxt}, '%')
					</when>
  					</choose>
  				</if>
  			</where>
  		</select>
    	
    	<select id="personlist" parameterMap="hashmap" resultType="com.bitcamp.DTO.MemberDTO">
  			
  			select *
  			from member
  			
            <where>
           	<!-- <if test="searchtxt!=null"> -->
			<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='email'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and email like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='nickname'">
						and nickname like CONCAT('%', #{searchtxt}, '%')
					</when>
				</choose>
			</if>
			
		   </where>
			order by no
			limit #{startRow}, 10
  		</select>
  		
  		<delete id="memberdelete" parameterType="int">
    		delete from member
    		where no=#{no};
    	</delete>
    	
    	<select id="categorylist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="ototalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(bno)
  	  		from product p1, pay p2
  			where p1.pno=p2.pno
  			
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and p2.email like CONCAT('%', #{searchtxt}, '%')
					</when>
  					</choose>
  				</if>
  		</select>
    	
    	<select id="orderlist" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
  			
  			select p2.bno, i.imgname, p2.pno, p1.pname, p2.email, p2.bcount, p2.pay, p2.bdate, p2.shipping, p2.no
  			from product p1, pay p2, img i
  			where p1.pno=p2.pno and p2.pno=i.pno
  			
            <!-- <where> -->
           	<if test="searchtxt!=null">
			<!-- <if test="searchtxt!=null and searchtxt!=''"> -->
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and p2.email like CONCAT('%', #{searchtxt}, '%')
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by p2.bno
			limit #{startRow}, 10
  		</select>
  		
  		<select id="ocategorylist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="subototalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(bno)
  	  		from product p1, pay p2
  			where p1.pno=p2.pno and p1.cno=#{cno}
  	  		
  	  		<!-- select count(bno)
  	  		from product p1, pay p2, member m
  	  		where p1.pno=p2.pno and p2.no=m.no and p1.cno=#{cno} -->
  	  		
  		<!-- 	<where> -->
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and p2.email like CONCAT('%', #{searchtxt}, '%')
					</when>
  					</choose>
  				</if>
  			<!-- /where> -->
  		</select>
  		
  		<select id="suborderlist" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
  			
  			select p2.bno, i.imgname, p2.pno, p1.pname, p2.email, p2.bcount, p2.pay, p2.bdate, p2.shipping, p2.no
  			from product p1, pay p2, img i
  			where p1.pno=p2.pno and p2.pno=i.pno and p1.cno=#{cno}
  			
  			<!-- select p2.bno, p2.pno, p1.pname, m.nickname, p2.bcount, p2.pay, p2.bdate, p2.shipping
  			from product p1, pay p2, member m
  			where p1.pno=p2.pno and p2.no=m.no and p1.cno=#{cno} -->
  			
            <!-- <where> -->
           	<if test="searchtxt!=null">
			<!-- <if test="searchtxt!=null and searchtxt!=''"> -->
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and p2.email like CONCAT('%', #{searchtxt}, '%')
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by p2.bno
			limit #{startRow}, 10
  		</select>
  		
  		<update id="smodifyresult" parameterType="com.bitcamp.DTO.ProductDTO">
          update   pay
           set  
               shipping=#{shipping}
          where bno=#{bno}   
    	</update>
    	
    	<update id="updateno" parameterType="int">
          update   pay
           set  
               no=0
          where no=#{no}   
    	</update>
    	
    	<select id="ccategorylist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="ctotalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(bno)
  	  		from cancel c, member m
  	  		where c.no=m.no
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and c.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and c.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and m.email like CONCAT('%', #{searchtxt}, '%')
					</when>
  					</choose>
  				</if>
  		</select>
  		
  		<select id="ordercancel" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
  			
  			select c.no, c.pname, c.bno, c.bdate, c.bcount, c.pay, c.cno, c.cdate, c.email, i.imgname
  			from cancel c, img i
  			where c.pno=i.pno
  			
            <!-- <where> -->
           	<if test="searchtxt!=null">
			<!-- <if test="searchtxt!=null and searchtxt!=''"> -->
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and c.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and c.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and m.email like CONCAT('%', #{searchtxt}, '%')
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by c.bno
			limit #{startRow}, 10
  		</select>
  		
  		<select id="subccategorylist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="subctotalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(bno)
  	  		from cancel c, member m
  	  		where c.no=m.no and c.cno=#{cno}
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and c.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and c.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and m.email like CONCAT('%', #{searchtxt}, '%')
					</when>
  					</choose>
  				</if>
  		</select>
  		
  		<select id="subordercancel" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
  			
  			select c.no, c.pname, c.bno, c.bdate, c.bcount, c.pay, c.cno, c.cdate, c.email, i.imgname
  			from cancel c, img i
  			where c.pno=i.pno and c.cno=#{cno}
  			
            <!-- <where> -->
           	<if test="searchtxt!=null">
			<!-- <if test="searchtxt!=null and searchtxt!=''"> -->
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and c.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and c.bno=#{searchtxt}
					</when>
					<when test="search=='email'">
						and m.email like CONCAT('%', #{searchtxt}, '%')
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by c.bno
			limit #{startRow}, 10
  		</select>
    	
    </mapper>