<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.bitcamp.Mapper.DetailMapper">
    
    <select id="detaillist" resultType="com.bitcamp.DTO.ProductDTO" parameterType="int">
    select * from product
    
    where pno=#{pno}
    
    
    </select>
   <select id="getimage" resultType="com.bitcamp.DTO.imgDTO" parameterType="int">
    
    select imgname from img where pno=#{pno}
    
    
    
    </select> 
    <insert id="replyinsert2" parameterType="com.bitcamp.DTO.ReplyDTO">
    
    insert into reply(no, pno, rcontent)
    values(#{no}, #{pno}, #{rcontent})
    
    </insert>
    <select id="replylist" resultType="com.bitcamp.DTO.ReplyDTO">
    
    select *
    from reply
    where pno=#{pno}
    order by rno
    
    </select>
    
    <delete id="replydelete2" parameterType="com.bitcamp.DTO.ReplyDTO">
    delete from reply
    where rno=#{rno}
    
    
    
    </delete>
    <select id="replydetail2" resultType="com.bitcamp.DTO.ReplyDTO">
    select rcontent,no
    from reply
    where rno=#{rno}
    
    
    
    </select>
    <update id="replyupdate2" parameterType="com.bitcamp.DTO.ReplyDTO">
    
    update reply
    set rcontent=#{rcontent}
    where rno=#{rno}
    
    
    
    
    </update>
    
    
    
    
    
    
    
    </mapper>