<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.bitcamp.Mapper.DetailMapper">
    
    <select id="detaillist" resultType="com.bitcamp.DTO.ProductDTO" parameterType="int">
    select * from product
    
    where pno=#{pno}
    
    
    </select>
   <select id="getimage" resultType="com.bitcamp.DTO.imgDTO" parameterType="int">
    
    select imgname from img where pno=#{pno}
    
    
    
    </select> 
    
    
    
    
    
    </mapper>