<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bitcamp.Mapper.CategoryMapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    
    	<select id="AllList" resultType="com.bitcamp.DTO.CategoryDTO">
    		
    		select cno,cname from category
 
    		
    	</select>
    	<select id="pList" resultType="com.bitcamp.DTO.CategoryDTO">
    		
    		select pno, pname, oprice, dprice from product
    	
    	
    	</select>
    	<select id="allList" resultType="com.bitcamp.DTO.CategoryDTO">
    	
    		select cno,cname from category
    	
    	</select>
    	
    	
    	<select id="cpList" resultType="com.bitcamp.DTO.CategoryDTO" parameterType="int">
    	
    		select p.pname, p.dprice, p.oprice
    		from category c, product p 
    		where c.cno = p.cno 
    		and p.cno = #{cno}
    	
    	</select>
  		<insert id="addresult" parameterType="com.bitcamp.DTO.CategoryDTO">
    	
    		insert into product(pname, dprice, oprice, cno, content)
    		 values(#{pname}, #{dprice}, #{oprice}, #{cno}, #{content}) 
    	
    	</insert> 
    	
  		<!-- <insert id="addimg" parameterType="int">
    	
    		insert into img(imgname)
    		values(#{imgname})
    	
    	</insert>
    	 -->
    	
    	<delete id="delete" parameterType="int">
    	
    		delete from product where pno = #{pno}
    	
    	</delete>
    	
    	 
 <select id="totalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(*) from product
  	  		
  	<where>
  		<if test="searchtxt!=null and searchtxt!=''">
  			<choose>
  				<when test="search=='pno'">
  				and pno=#{searchtxt}
  				</when>
  				<when test="search=='pname'">
  					and pname like '%'||upper(#{searchtxt})||'%'     
  				</when>
  				<when test="search=='cno'">
  				and cno=#{searchtxt}
  				</when>
  			</choose>
  		</if>
  	</where>
  </select>
  
  <select id="list" parameterMap="hashmap" resultType="com.bitcamp.DTO.CategoryDTO">
  		select *
  		from product
  		
              <where>
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pno'">
						and pno=#{searchtxt}
					</when>
					<when test="search=='pname'">
						and pname like upper('%'|| #{searchtxt}||'%')
					</when>
					<when test="search=='cno'">
						and cno=#{searchtxt}
					</when>
				</choose>
			</if>
			
	</where>
	order by pno
	limit #{startRow}, #{endRow}
  </select>
    	
    	
    </mapper>