<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bitcamp.Mapper.CategoryMapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    <resultMap type="com.bitcamp.DTO.FileVo" id="imgdto"></resultMap>
    	<select id="AllList" resultType="com.bitcamp.DTO.CategoryDTO">
    		
    		select cno,cname from category
 
    		
    	</select>
    	<select id="totalCountcount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(*) from product
  	  		
  	<where>
  		<if test="searchtxt!=null and searchtxt!=''">
  			<choose>
  				<when test="search=='pno'">
  				and pno=#{searchtxt}
  				</when>
  				<when test="search=='pname'">
  					and pname like '%'||upper(#{searchtxt})||'%'     
  				</when>
  				<when test="search=='cno'">
  				and cno=#{searchtxt}
  				</when>
  			</choose>
  		</if>
  	</where>
  </select>
  <select id="plist" parameterMap="hashmap" resultType="com.bitcamp.DTO.CategoryDTO">
  		select p.pno, p.pname, p.dprice, p.oprice, i.imgname, p.deadline
  		from product p, img i
  		
              <where>
              p.pno = i.pno
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pno'">
						and pno=#{searchtxt}
					</when>
					<when test="search=='pname'">
						and pname like upper('%'|| #{searchtxt}||'%')
					</when>
					<when test="search=='cno'">
						and cno=#{searchtxt}
					</when>
				</choose>
			</if>
			
	</where>
	order by pno desc
	limit #{startRow}, 10 <!-- #{endRow} --> 
  </select>
  
    	<select id="allList" resultType="com.bitcamp.DTO.CategoryDTO">
    	
    		select cno,cname from category
    	
    	</select>
    	
    	
    	<select id="cpList" parameterMap="hashmap" resultType="com.bitcamp.DTO.CategoryDTO">
    	
    	
    	select i.imgname, p.pno, p.pname, p.oprice, p.dprice
  		from category c, product p, img i 
    	where c.cno = p.cno 
  		and p.pno = i.pno
    	and p.cno = #{cno} 
    	  
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pno'">
						and pno=#{searchtxt}
					</when>
					<when test="search=='pname'">
						and pname like upper('%'|| #{searchtxt}||'%')
					</when>
					<when test="search=='cno'">
						and cno=#{searchtxt}
					</when>
				</choose>
			</if>
			
	
	order by pno desc
	limit #{startRow}, 10
    	
    	</select>
    	
    	<select id="subpage" parameterMap="hashmap" resultType="int">
    	
    		select count(*)
    		from category c inner join product p 
    		on c.cno = p.cno 
    		
    	
    	<where>
         	p.cno = #{cno}
    	<if test="searchtxt!=null and searchtxt!=''">
  			<choose>
  				<when test="search=='pno'">
  				and pno=#{searchtxt}
  				</when>
  				<when test="search=='pname'">
  				 and pname like '%'||upper(#{searchtxt})||'%'     
  				</when>
  				<when test="search=='cno'">
  				and cno=#{searchtxt}
  				</when>
  			</choose>
  		</if>
  		</where>
    	</select>
    	
    	
  		<insert id="addresult" parameterType="com.bitcamp.DTO.CategoryDTO">
    	
    		insert into product(pname, dprice, oprice, cno, content, regist , deadline, sellcount, stock)
    		 values(#{pname}, #{dprice}, #{oprice}, #{cno}, #{content}, sysdate(), #{deadline}, 0, #{stock})
    		 
    	 	
    	 
    	
    	</insert>
    	
    	<insert id="addallresult" parameterMap="hashmap">
    	 <selectKey keyProperty="pno" resultType="int" order="BEFORE">
    		    select max(pno)
    		    from product
    		 </selectKey>
    	 
    	 
    	 insert into img(pno, imgname)
    	 value(#{pno}, #{path} )
    	</insert>
  		
    	
    	<delete id="delete" parameterType="int">
    	
    		delete from product where pno = #{pno}
    	
    	</delete>
    	<delete id="imgdel" parameterType="int">
    	
    		delete from img where pno=#{pno}
    	
    	</delete>
    	 
 <select id="totalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(*) from product
  	  		
  	<where>
  		<if test="searchtxt!=null and searchtxt!=''">
  			<choose>
  				<when test="search=='pno'">
  				and pno=#{searchtxt}
  				</when>
  				<when test="search=='pname'">
  					and pname like '%'||upper(#{searchtxt})||'%'     
  				</when>
  				<when test="search=='cno'">
  				and cno=#{searchtxt}
  				</when>
  			</choose>
  		</if>
  	</where>
  </select>
  
  <select id="list" parameterMap="hashmap" resultType="com.bitcamp.DTO.CategoryDTO">
  		 <!-- select *
  		from product  -->
  		select p.pno, p.pname, p.dprice, p.oprice, i.imgname, p.regist, p.deadline,p.stock, p.sellcount
  		from product p, img i
              <where>
              p.pno = i.pno
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pno'">
						and pno=#{searchtxt}
					</when>
					<when test="search=='pname'">
						and pname like upper('%'|| #{searchtxt}||'%')
					</when>
					<when test="search=='cno'">
						and cno=#{searchtxt}
					</when>
				</choose>
			</if>
			
	</where>
	order by pno desc
	limit #{startRow}, 10
  </select>
    	
    	
    	<select id="admincategorylist" resultType="com.bitcamp.DTO.CategoryDTO" >
    	
    		select cno,cname from category
    	
    	
    	</select>
    	
    	<select id="adallList" resultType="com.bitcamp.DTO.CategoryDTO">
    	
    		select cno,cname from category
    		
    	</select>
    	<select id="adcpList" parameterMap="hashmap" resultType="com.bitcamp.DTO.CategoryDTO">
    	select i.imgname, p.pno, p.pname, p.oprice, p.dprice
  		from category c, product p, img i 
    	where c.cno = p.cno 
  		and p.pno = i.pno
    	and p.cno = #{cno} 
    	  
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pno'">
						and pno=#{searchtxt}
					</when>
					<when test="search=='pname'">
						and pname like upper('%'|| #{searchtxt}||'%')
					</when>
					<when test="search=='cno'">
						and cno=#{searchtxt}
					</when>
				</choose>
			</if>
			
	
			order by p.pno desc
			limit #{startRow}, 10
    	</select>
    	<select id="adminsubCount" parameterMap="hashmap" resultType="int">
    		select count(*)
    		from category c inner join product p 
    		on c.cno = p.cno 
    		
    	
    	<where>
         	p.cno = #{cno}
    	<if test="searchtxt!=null and searchtxt!=''">
  			<choose>
  				<when test="search=='pno'">
  				and pno=#{searchtxt}
  				</when>
  				<when test="search=='pname'">
  				 and pname like '%'||upper(#{searchtxt})||'%'     
  				</when>
  				<when test="search=='cno'">
  				and cno=#{searchtxt}
  				</when>
  			</choose>
  		</if>
  		</where>
    	
    	
    	</select>
    	<select id="paymentProduct" resultType="com.bitcamp.DTO.ProductDTO" parameterType="int">
    	
    		select p.pname, p.dprice, i.imgname
    		from product p, img i 
    		where p.pno = i.pno 
    		and p.pno=#{pno}
    		
    	</select>
    	<insert id="payallok" parameterType="com.bitcamp.DTO.paymentDTO">
    	
    	insert into pay(no, pno, bdate, bcount, pay, email, shipping)
    	value(#{no}, #{pno}, sysdate(), #{bcount}, #{pay}, #{email}, '배송 준비')
    	
    	
    	</insert>
    	
    	<update id="payok" parameterType="com.bitcamp.DTO.MemberDTO">
    		
    		update member
    		set  addr = #{addr}
    		 	,detailaddr = #{detailaddr}
    		where no = #{no}
    		
    	</update>
    	<update id="stockadmin" parameterMap="hashmap">
    	
    		update product
    		set stock = stock - #{bcount}
    		    ,sellcount = sellcount + #{bcount}
    		where pno = #{pno}
    	
    	</update>
    	
    	
    	
    	
    </mapper>