<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.bitcamp.Mapper.MyPageMapper">
    <parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
    	
    	<select id="productlist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select imgname, pname, bno, bdate, pay, addr, paying
    		from img i, product p1, member m, pay p2
    		where p1.pno=p2.pno and m.no=p2.no and p1.pno=i.pno
    		
    	</select>
    	
    	<select id="memberlist" parameterType="int" resultType="com.bitcamp.DTO.MemberDTO">
    		
    		select *
    		from member
    		where no=#{no};
    		
    	</select>
    	
    <update id="modifylist" parameterType="com.bitcamp.DTO.MemberDTO">
          update member
           set  
               nickname=#{nickname}
              , name=#{name}
              , addr=#{addr}
              , detailaddr=#{detailaddr}
              , phone=#{phone}
              , pwd=#{pwd}
           where no=#{no}    
    	</update>
    	
    	<select id="reviewlist" parameterType="int" resultType="com.bitcamp.DTO.ReviewDTO">
    		select p.pno, p.pname, p.dprice, p.deadline, r.rcontent, i.imgname
    		from product p, img i, reply r
    		where p.pno=i.pno and p.pno=r.pno and r.no=#{no}
    		
    	</select>
    	
    	<delete id="deletelist" parameterType="int">
    		delete from member
    		where no=#{no}
    	
    	</delete>
    	
    	<select id="admincategorylist" resultType="com.bitcamp.DTO.ProductDTO" >
    	
    		select cno,cname from category
    		
    	</select>
    	
    	<select id="totalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		<!-- select count(bno)
  	  		from category c, product p1, pay p2, member m
  	  		where c.cno = p1.cno and p1.pno=p2.pno and m.no=p2.no  -->
  	  		
  	  		select count(bno)
  	  		from product p1, pay p2
  	  		where p1.pno=p2.pno and p2.no=#{no}
  	  		
  		<!-- 	<where> -->
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
						
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
  					</choose>
  				</if>
  			<!-- /where> -->
  		</select>
    	
    	<select id="list" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
  			<!-- select *
  			from product -->
  			
  			<!-- select p1.pname, p2.bno, p2.bdate, p1.dprice, m.addr, p2.shipping
    		from category c, product p1, pay p2, member m
  			where c.cno = p1.cno and p1.pno=p2.pno and m.no=p2.no and m.no=#{no} -->
  			
  			select p1.pno, p1.pname, p2.bno, p2.bdate, p1.dprice, m.addr, m.detailaddr, p2.shipping, i.imgname
  			from product p1, pay p2, member m, img i
  			where p1.pno=p2.pno and p2.no=m.no and p1.pno=i.pno and p2.no=#{no}
  			
            <!-- <where> -->
           	<if test="searchtxt!=null">
			<!-- <if test="searchtxt!=null and searchtxt!=''"> -->
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
						
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by p2.bno
			limit #{startRow}, 10
  		</select>
  		
  		<select id="adallList" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="ctotalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		<!-- select count(bno)
  	  		from category c, product p1, pay p2, member m
  	  		where c.cno = p1.cno and p1.pno=p2.pno and m.no=p2.no and p1.cno = #{cno} -->
  	  		
  	  		select count(bno)
  	  		from product p1, pay p2
  	  		where p1.pno=p2.pno and p2.no=#{no} and p1.cno=#{cno}
  	  		
  		<!-- 	<where> -->
  				
  				<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
						
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
  					</choose>
  				</if>
  			<!-- /where> -->
  		</select>
    	
    	<select id="adcpList" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select p1.pno, p1.pname, p2.bno, p2.bdate, p1.dprice, m.addr, m.detailaddr, p2.shipping, i.imgname
  			from product p1, pay p2, member m, img i
  			where p1.pno=p2.pno and p2.no=m.no and p1.pno=i.pno and p2.no=#{no} and p1.cno=#{cno}
    		
    		<!-- select p1.pname, p2.bno, p2.bdate, p1.dprice, m.addr, p2.shipping
    		from category c, product p1, pay p2, member m
    		where c.cno = p1.cno and p1.pno=p2.pno and m.no=p2.no and p2.no=#{no} and p1.cno = #{cno} -->
    	
    		<!-- <where> -->
    			
				<if test="searchtxt!=null and searchtxt!=''">
				<choose>
					<when test="search=='pname'">
						<!-- and pname like upper('%' || #{searchtxt} || '%') -->
						and p1.pname like CONCAT('%', #{searchtxt}, '%')
					</when>
					<when test="search=='bno'">
						and p2.bno=#{searchtxt}
					</when>
				</choose>
			</if>
			
		<!-- </where> -->
			order by p2.bno
			limit #{startRow}, 10
  		</select>
  		
  		<delete id="deleteauth" parameterType="String">
    		delete from auth
    		where email=#{email}
    	</delete>
    	
    	<select id="cancelselect" resultType="com.bitcamp.DTO.ProductDTO" parameterType="hashmap">
    		select p1.pno, p1.pname, p2.bno, p2.bdate, p1.dprice, p2.no, p1.cno, m.email
    		from product p1, pay p2, member m
    		where p1.pno=p2.pno and m.no=p2.no and p2.no=#{no} and p2.bno=#{bno}
    		
    	</select>
    	
    	<insert id="cancelinsert" parameterType="com.bitcamp.DTO.ProductDTO">
    		insert into cancel(no, pno, pname, bno, bdate, dprice, cno, cdate)
    		values( #{no}, #{pno}, #{pname}, #{bno}, #{bdate}, #{dprice}, #{cno}, now())
    	</insert>
    	
    	<delete id="cancelpay" parameterType="int">
    		delete from pay
    		where bno=#{bno}
    	</delete>
    	
    	<select id="calllist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
    	
    	<select id="catotalCount" parameterMap="hashmap" resultType="int">
  	  		select count(bno)
  	  		from cancel
  	  		where no=#{no}
  			<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
							and pname like CONCAT('%', #{searchtxt}, '%')
						</when>
						<when test="search=='bno'">
							and bno=#{searchtxt}
						</when>
  					</choose>
  			</if>
  		</select>
  		
  		<select id="cancellist" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
    		select c.bno, i.imgname, c.pname, c.bdate, c.dprice, c.cdate
    		from cancel c, img i
    		where c.pno=i.pno and c.no=#{no}
    		<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
							and c.pname like CONCAT('%', #{searchtxt}, '%')
						</when>
						<when test="search=='bno'">
							and c.bno=#{searchtxt}
						</when>
  					</choose>
  			</if>
  			order by c.bno
			limit #{startRow}, 10
    	</select>
    	
  		<select id="scalllist" resultType="com.bitcamp.DTO.ProductDTO">
    	
    		select cno, cname from category
    		
    	</select>
  		
    	<select id="scatotalCount" parameterMap="hashmap" resultType="int">
  	  		
  	  		select count(bno)
  	  		from cancel
  	  		where no=#{no} and cno=#{cno}
  			<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
							and pname like CONCAT('%', #{searchtxt}, '%')
						</when>
						<when test="search=='bno'">
							and bno=#{searchtxt}
						</when>
  					</choose>
  			</if>
  		</select>
  		
  		<select id="scancellist" parameterMap="hashmap" resultType="com.bitcamp.DTO.ProductDTO">
    		select c.bno, i.imgname, c.pname, c.bdate, c.dprice, c.cdate
    		from cancel c, img i
    		where c.pno=i.pno and c.no=#{no} and c.cno=#{cno}
    		<if test="searchtxt!=null and searchtxt!=''">
  					<choose>
  						<when test="search=='pname'">
							and c.pname like CONCAT('%', #{searchtxt}, '%')
						</when>
						<when test="search=='bno'">
							and c.bno=#{searchtxt}
						</when>
  					</choose>
  			</if>
  			order by c.bno
			limit #{startRow}, 10
    	</select>
  		
    </mapper>