<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.bitcamp.Mapper.ReplyMapper" >
    
    
    <select id="replylist" resultType="com.bitcamp.DTO.ReplyDTO" parameterType="java.util.HashMap">
    
    
    select rcontent from reply
    
    </select>
    
    <insert id="replyinsert" parameterType="com.bitcamp.DTO.ReplyDTO" >
    
    insert into reply(rcontent)
    values(#{rcontent})
    
    
    </insert>
    <delete id="replydelete" parameterType="int">
    
    delete from reply
    where no=#{no}
    
    
    </delete>
    <update id="replymodify" parameterType="com.bitcamp.DTO.ReplyDTO">
    
    update reply
    set rcontent = #{rcontent}
    where no=#{no}
    
    </update>
    <select id="detail" parameterType="int" resultType="com.bitcamp.DTO.ReplyDTO">
    
    select rcontent from reply where no=#{no}
    </select>
    
    
    
    
    </mapper>
